<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ origin }}/styles.css">
        <title>
            File not ready
        </title>
    </head>
    <body>
        <h1>Your file is still not ready!</h1>
        <h1>When your file is ready, you can click below to download, or copy the link to embed.</h1>
        <h2><a href="{{ origin }}/content/{{ path }}">{{ origin }}/content/{{ path }}</a></h2>
        <h2><a href="{{ origin }}">Download something else</a></h2>
    </body>
</html>